html{
  scroll-behavior:smooth;
}

body{
  font-family: Arial;
  background:#050505;
  color:white;
  margin:0;
}

/* NAV */
nav{
  position:fixed;
  top:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  padding:15px 40px;
  background:#000000d8;
  z-index:10;
}
nav ul{display:flex;list-style:none;}
nav ul li{margin-left:20px;}
nav ul li a{color:white;text-decoration:none;}
.logo{font-size:22px;font-weight:bold;}
.logo span{color:#00ffa6;}

/* HEADER */
header{
  text-align:center;
  padding:120px 20px 80px;
  background:linear-gradient(120deg,#141e30,#243b55);
}
.highlight{color:#00ffa6;}

.typing-text{
  font-size:20px;
  margin-top:10px;
  color:#ffffffbe;
}
#typed{
  color:#00ffa6;
  font-weight:bold;
}
#typed::after{
  content:"|";
  animation:blink 0.7s infinite;
}
@keyframes blink{50%{opacity:0;}}

.buttons .btn,.btn-2{
  padding:10px 18px;
  margin:8px;
  border-radius:5px;
  text-decoration:none;
  font-weight:bold;
}
.btn{background:#00ffa6;color:black;}
.btn-2{background:white;color:black;}

.section{
  width:80%;
  margin:auto;
  margin-top:70px;
}
.section h2{text-align:center;margin-bottom:20px;}

.card{
  background:#0f0f0f;
  padding:20px;
  border-radius:12px;
  border:1px solid #00ffa6;
  margin-bottom:20px;
}

/* SKILLS */
.skills-box span{
  display:inline-block;
  background:#111;
  padding:8px 12px;
  border-radius:6px;
  border:1px solid #00ffa6;
  margin:5px;
}

/* HIRE BUTTON */
.hire-btn{
  padding:12px 20px;
  background:#ffd500;
  color:black;
  text-decoration:none;
  border-radius:8px;
  font-weight:bold;
}

/* FLOATING BUTTONS */
.float-btn{
  position:fixed;
  right:20px;
  bottom:90px;
  background:#00ffa6;
  padding:12px;
  border-radius:50%;
  text-decoration:none;
  font-size:22px;
}
.float-btn2{
  position:fixed;
  right:20px;
  bottom:30px;
  background:#ff0066;
  padding:12px;
  border-radius:50%;
  text-decoration:none;
  font-size:22px;
}

/* Section Scroll Animation */
.reveal{
  opacity:0;
  transform:translateY(50px);
  transition:1s;
}
.reveal.active{
  opacity:1;
  transform:translateY(0px);
}

/* FOOTER */
footer{
  text-align:center;
  padding:22px;
  margin-top:50px;
  background:#0f0f0f;
}
